/*reset css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*fonts css*/
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F6F8F9;
}
/*inizio header*/
.container{
    width: 70%;
    margin: 0 auto;
}
header{
    margin-bottom: 50px;
    padding: 15px;
}

.background-white{
    background-color: white;
}
.logo{
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
}
.button-blue{
    background-color: #45abea;
    color: white;
    border-radius: 5px;
    border-color: #45abea;
    padding: 8px;
    margin-bottom: 25px;
}
.button-white{
    border-color: gray;
    color: gray;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 25px;
}
/*fine bottoni*/
.test-div{
    padding: 30px;
    line-height: 30px;
}
section{
    margin-bottom: 30px;
}
.check{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    color: black;
    display: inline-block;
    text-align: center;
}
.done{
    border-color: green;
    color: green;
}
.not-done{
    border-color: red;
    color: red;
}
.mini-container{
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 25%;
    display: inline-block;
    text-align: center;
    
}
.blue{
    background-color: #45abea;
    border: 1px solid #45abea;
}
.purple{
    background-color: #9c72e4;
    border: 1px solid #9c72e4;
}
.green-water{
    background-color: #63bfa8;
    border: 1px solid #63bfa8;
}
.orange{
    background-color: #f29e33;
    border: 1px solid #f29e33;
}
.fucsian{
    background-color: #d863a1;
    border: 1px solid #d863a1;
}
.green{
    background-color: #b0c926;
    border: 1px solid #b0c926;
}
.space-for-the-raw{
    padding-top: 5px;
    padding-bottom: 5px;
}
