/*reset css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*fonts css*/
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F6F8F9;
}
/*inizio header*/
#background-header{
    background-color: white;
    margin-bottom: 50px;
    padding: 15px;
}
.logo{
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
}